@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.card {
  width: 350px;
  height: 500px;
  transition: 0.3s;
}
.card:hover {
  scale: 1.12;
}
.card-content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 2s cubic-bezier(0.55, 0, 0.55, 1);
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  font-family: "Playfair Display", serif;
  border-radius: 15px;
}

.front {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}
.front::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(65deg, rgb(39, 205, 255), rgb(192, 159, 51));
  opacity: 30%;
  border-radius: inherit;
}
.front::before {
  background-image: url(Images/economy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 15px;
  backface-visibility: hidden;
  filter: grayscale(1);
  transition: 0.3s;
}

#Business .front::before {
  background-image: url(Images/business_class.jpg);
}
#firstClass .front::before {
  background-image: url(Images/firstclass.jpg);
}

.front:hover::before {
  filter: grayscale(0);
}
.front:hover::after {
  opacity: 12%;
}
.back {
  display: flex;
  flex-direction: column;
  transform: rotateY(0.5turn);
  border: 0.5px solid rgba(128, 128, 128, 0.466);
  width: 100%;
  padding: 2rem;
}
.title {
  text-align: center;
  transform: translateZ(100px);
  font-size: 35px;
  font-weight: 700;
  backface-visibility: hidden;
  color: #fff;
}

p {
  transform: translateZ(60px);
}

.backTitle {
  transform: translateZ(100px);
  align-self: flex-end;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700;
}
.button {
  position: absolute;
  bottom: 20px;
  backface-visibility: hidden;
  transform: translateZ(100px);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.1s ease-in-out;
  padding: 0.4rem;
  opacity: 0.66;
}

.button:hover:not(.return) {
  border: 2px solid #ffb71b;
  padding: 0.4rem;
  opacity: 1;
}
.inputs {
  display: none;
}

.inputs:checked ~ .card-content {
  transform: rotateY(0.5turn);
}

.return {
  display: flex;
  width: 50px;
  height: 30px;
  padding: 1rem;
  font-size: 30px;
  align-items: center;
  justify-content: right;
  color: black;
  margin-top: 60px;
}

.return:hover {
  scale: 1.2;
}
.check-list {
  margin: 0;
  align-self: flex-end;
  padding-top: 30px;
  transform: translateZ(60px);
  backface-visibility: hidden;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 24px;
  color: #ffff;
  -webkit-text-stroke: 0.2px black;
}
.front:hover li,
.front:hover .button,
.front:hover .title {
  color: #ffb71b;
}
.check-list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.benefits-list {
  height: 80%;
  margin: 0;
  padding-left: 0.2rem;
  align-self: flex-end;
  padding-top: 30px;
  transform: translateZ(60px);
  backface-visibility: hidden;
  font-size: 22px;
  overflow-y: auto;
}

.benefits-list li {
  margin-bottom: 12px;
}
.benefits-list li:first-child {
  margin-top: 0;
}
.back p {
  font-size: 21px;
  margin: 0;
  margin-top: 6px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 20%;
}

::-webkit-scrollbar-thumb {
  background: #ffb71b;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 20px;
}
